nav {
    position: absolute;
    width: 100%;
    top: 110px;
    height: 35px;
}

nav:hover {
    background: rgb(178, 34, 52);
    transition: 0.3s ease-out;
}
nav:hover h2 {
    color: white;
}

nav > ul {
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(178, 34, 52);
    font-size: 20px;
}

nav li h2 {
    letter-spacing: 0.3rem;
    margin: auto 29.4px;
}

/* navbar hover effect */
nav > ul > li:hover {
    display: flex;
    width: auto;
    background-color: #0a2458;
    transition: 0.3s;
}

nav li ul li {
    cursor: pointer;
    display: flex;
    letter-spacing: 0.2rem;
    color: white;
}

nav #States li {
    font-size: 23px;
    width: 25%;
    justify-content: space-evenly;
    /* line-height: 40px; */
    padding-top: 10px;
    padding-bottom: 15px;
}

nav #col li {
    font-size: 23px;
    width: 40%;
    justify-content: space-around;
    /* line-height: 20px; */
    padding-top: 10px;
    padding-bottom: 15px;
}

nav #Presidents li {
    font-size: 23px;
    width: 27%;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 15px;
}

nav #NationalMonuments li {
    font-size: 23px;
    width: 50%;
    justify-content: space-around;
    /* margin: auto; */
    padding-top: 10px;
    padding-bottom: 15px;
}


.dropDown {
    background: #0a2458;
    border-top: 5px solid #0a2458;
    box-shadow: 0 5px 4px 0 black;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 35px;
    left: 0;
    /* width: 100em; */
}

/* drop down height */
nav ul li ul {
    display: none;
    justify-content: center;
}

nav li #States li:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.3);
}

nav #col ul li a {
    color: white;
}

nav #col ul li:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

nav #NationalMonuments li:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

nav #Presidents li a {
    color: white;
}

nav #Presidents li:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
