nav {
    position: absolute;
    width: 100%;
    color: (178, 34, 52);
    background: white;
    top: 110px;
    height: 35px;
}

nav:hover{
    background: rgb(178, 34, 52);
    transition: .3s;
}

nav:hover h2 {
    color: white;
}

nav > ul {
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: rgb(178, 34, 52);
    font-size: 15px;
}

nav div h2 {
    position: relative;
    top: -17.5px;
    letter-spacing: .4rem;
    display: flex;
    padding: 23px 29px;
    font-weight: lighter;
}

/* navbar hover effect */
nav > ul > div:hover {
    box-shadow: 0px 0 10px black;
    display: flex;
    width: auto;
    background-color: #0a2458;
    transition: .3s;
}

nav #States li:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

/* drop down height */
nav ul div ul {
    /* display: none; */
    width: 100%;
    justify-content: center;
}

.dropdown {
    background: #0a2458;
    text-align: center;
    border-top: 5px solid #0a2458;
    box-shadow: 0 0px 10px black;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    top: 35px;
    left: 0;
}   

nav div ul li {
    cursor: pointer;
    width: 15%;
    display: flex;
    position: relative;
    padding: auto 15px;
    justify-content: space-around;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    letter-spacing: .2rem;
    color: white;
}