* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: default;
    height: 100%;
}

body {
    background-color: white;
    font-family: "Mercury Display Semibold";
}

#wrapper {
    margin: auto;
    height: 110px;
    width: 100%;
    background: #0a2458;
}

header > ul {
    margin: auto;
    position: relative;
    color: white;
    list-style: none;
    padding-top: 5px;
}

header ul #title1 {
    letter-spacing: 0.5rem;
    width: 720px;
    top: 10px;
    left: 20px;
    position: relative;
    font-weight: lighter;
    font-size: 35px;
    border-bottom: double white 5px;
    text-shadow: 0 3px 8px black;
}

header ul #title2 {
    /* display: flex; */
    text-align: right;
    letter-spacing: 0.45rem;
    position: relative;
    font-weight: lighter;
    font-size: 27px;
    width: 255px;
    left: 740px;
    top: 5px;
    border-top: double white 5px;
    padding-top: 2px;
    text-shadow: 0 3px 8px black;
}

#wrapper2 {
    background-color: rgb(255, 239, 209);
    height: 380px;
    top: 170px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#state-teaser {
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

#state-teaser > h1 {
    font-size: 2.6rem;
    letter-spacing: .019rem;
    width: 550px;
    color: #0a2458;
}

#state-teaser img {
    position: absolute;
    max-width: 450px;
    max-height: 240px;
}

#state-teaser p {
    letter-spacing: 0.2rem;
    width: 580px;
    /* top: 0px; */
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 465px;
    text-align: left;
    position: absolute;
}

#state-teaser .redwords {
    color: rgb(178, 34, 52);
}

.apidata {
    color: #0a2458;
}

#coloniesWrapper {
    float: right;
    margin-left: auto;
    /* margin-right: 0; */
    background-color: rgb(255, 239, 209);
    height: 380px;
    top: 200px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#coloniesWrapper2 {
    font-family: "Mercury Display Semibold";
    padding-left: 30px;
}

#coloniesWrapper2 #colonyName {
    text-align: left;
    font-size: 2.6rem;
    letter-spacing: .019rem;
    color: #0a2458;
    width: 68rem;
    margin-top: 1rem;
    position: absolute;
}

#coloniesWrapper2 #colPic {
    position: absolute;
    /* margin: auto; */
    /* margin-top: 4em; */
    /* align-items: center; */
    /* display: block; */
    margin-top: 5.5em;
    margin-bottom: 10em;
    vertical-align: center;
    width: auto;
    min-height: 210px;
    max-height: 210px;
}

#coloniesWrapper2 #rand-colony {
    letter-spacing: 0.1rem;
    margin-top: 5rem;
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 27rem;
    text-align: left;
    position: absolute;
}

#rand-colony .redwords {
    color: rgb(178, 34, 52);
}

#presWrapper {
    background-color: rgb(255, 239, 209);
    height: 380px;
    top: 610px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#presWrapper2 {
    position: absolute;
    font-family: "Mercury Display Semibold";
    margin-left: 30px;
}

#presWrapper2 h1 {
    font-size: 2.6rem;
    letter-spacing: .019rem;
    /* position: absolute; */
    width: 850px;
    margin-top: 8px;
    /* margin-left: 20px; */
    /* bottom: .5px; */
    color: #0a2458;
}

#presWrapper2 img {
    position: absolute;
    /* margin-top: 72px; */
    /* margin-left: 20px; */
    max-width: 215px;
    max-height: 280px;
}

#presWrapper2 p {
    letter-spacing: 0.2rem;
    width: 750px;
    margin-top: 45px;
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 265px;
    text-align: left;
    position: absolute;
}

#presWrapper2 .redwords {
    color: rgb(178, 34, 52);
}


/* .fade {
    -webkit-animation: fade 1.5s 5s infinite;
    animation: fadeIn 1s 4s infinite;
    animation-timing-function: ease-in;
} */

/* @-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
} */

/* #presWrapper {
    border-top: black solid;
    margin-top: 190px;
    margin-left: 12%;
    width: 75%;
} */