*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: default;
    height: 100%;
}

body {
   background-color: white;
}

#wrapper {
    margin: auto;
    height: 110px;
    width: 100%;
    background: #0a2458;
}

header > ul {
    margin: auto;
    position: relative;
    color: white;
    list-style: none;
    padding-top: 5px;
}

header ul #title1 {
    letter-spacing: .5rem;
    width: 620px;
    top: 10px;
    left: 20px;
    position: relative;
    font-weight: lighter;
    font-size: 30px; 
    border-bottom: double white 5px;
    text-shadow: 0px 3px 8px black;
}

header ul #title2 {
    /* display: flex; */
    text-align: right;
    letter-spacing: .5rem;
    position: relative;
    font-weight: lighter;
    font-size: 22px; 
    width: 250px;
    left: 640px;
    top: 5px;
    border-top: double white 5px;
    padding-top: 2px;
    text-shadow: 0px 3px 8px black;
}

#wrapper2 {
    background-color: rgb(255, 239, 209);
    height: 380px;
    top: 170px;
    width: 53%;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#state-teaser {
    float: left;
    position: absolute;
    font-family: "Mercury Display Semibold";
    margin-top: 20px;
    margin-left: 30px;
}

#state-teaser h1  {
    font-size: 55px;
    letter-spacing: .2rem;
    /* position: absolute; */
    width: 550px;
    /* margin-top: 3px; */
    /* bottom: .5px; */
    color: #0a2458;
}

#state-teaser img {
    position: absolute;
    max-width: 450px;
    max-height: 240px;
}

#state-teaser p {
    letter-spacing: .1rem;
    width: 480px;
    /* top: 0px; */
    line-height: 45px;
    font-size: 27px;
    margin-left: 465px;
    text-align: left;
    position: absolute;
}

#state-teaser .redwords {
    color: rgb(178, 34, 52);
}

.apidata {
    color: #0a2458;
}

.fade {
    -webkit-animation: fade 1.5s 5s infinite;
    animation: fadeIn 1s 4s infinite;
    animation-timing-function: ease-in;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* #presWrapper {
    border-top: black solid;
    margin-top: 190px;
    margin-left: 12%;
    width: 75%;
} */

#presWrapper {
    float: right;
    background-color: rgb(255, 239, 209);
    height: 380px;
    top: 200px;
    width: 53%;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#presWrapper2  {
    /* float: right; */
    position: absolute;
    font-family: "Mercury Display Semibold"; 
    margin-left: 30px; 
}

#presWrapper2 h1 {
    font-size: 55px;
    letter-spacing: .2rem;
    /* position: absolute; */
    width: 750px;
    margin-top: 8px;
    /* margin-left: 20px; */
    /* bottom: .5px; */
    color: #0a2458;
}

#presWrapper2 img {
    position: absolute;
    /* margin-top: 72px; */
    /* margin-left: 20px; */
    max-width: 215px;
    max-height: 280px;
}

#presWrapper2 p {
    letter-spacing: .1rem;
    width: 600px;
    margin-top: 45px;
    line-height: 45px;
    font-size: 27px;
    margin-left: 265px;
    text-align: left;
    position: absolute;
}

#presWrapper2 .redwords {
    color: rgb(178, 34, 52);
}