* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: default;
    height: 100%;
}

body {
    background-color: white;
    font-family: "Mercury Display Semibold";
}

#wrapper {
    margin: auto;
    height: 110px;
    width: 100%;
    background: #0a2458;
}

header > ul {
    margin: auto;
    position: relative;
    color: white;
    list-style: none;
    padding-top: 5px;
}

header ul #title1 {
    letter-spacing: 0.5rem;
    width: 1020px;
    bottom: 5px;
    left: 20px;
    position: relative;
    font-weight: lighter;
    font-size: 45px;
    border-bottom: double white 5px;
    text-shadow: 0 3px 8px black;
}

header ul #title2 {
    /* display: flex; */
    text-align: right;
    letter-spacing: 0.45rem;
    position: relative;
    font-weight: lighter;
    font-size: 38px;
    width: 555px;
    left: 740px;
    bottom: 10px;
    border-top: double white 5px;
    /* padding-top: 2px; */
    text-shadow: 0 3px 8px black;
}

#wrapper2 {
    background-color: rgb(255, 239, 209);
    height: 303px;
    top: 70px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#wrapper2 > h2 {
    position: absolute;
    width: 30rem;
    margin-top: 5rem;
    margin-left: 72rem;
    font-size: 38px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#wrapper2 > h1::before {
    content: "";
    display: flex;
    position: absolute;
    bottom: 90px;
    height: 2px;
    width: 45.8%;
    background: #0a2458;
}

#wrapper2 > h1 {
    position: absolute;
    width: 45rem;
    margin-top: 9rem;
    margin-left: 72rem;
    font-size: 70px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#state-teaser {
    float: left;
    position: absolute;
    margin-top: 3px;
    margin-left: 30px;
}

#state-teaser h1 {
    font-size: 2.6rem;
    letter-spacing: .019rem;
    width: 550px;
    color: #0a2458;
}

#state-teaser img {
    position: absolute;
    max-width: 400px;
    max-height: 230px;
    box-shadow: 0px 0px 5px 1px black;
}

#state-teaser p {
    letter-spacing: 0.2rem;
    width: 580px;
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 465px;
    text-align: left;
    position: absolute;
}

#state-teaser .redwords {
    color: rgb(178, 34, 52);
}

.apidata {
    color: #0a2458;
}

#coloniesWrapper {
    float: right;
    background-color: rgb(255, 239, 209);
    height: 303px;
    top: 83px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#colTitles {
    position: absolute;
    margin-left: 1rem;
    z-index: -1;
    margin-top: 7.5rem;
}

#colTitles h2 {
    position: absolute;
    width: 30rem;
    margin-top: 2rem;
    font-size: 38px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#colTitles h1::before {
    content: "";
    display: flex;
    position: absolute;
    bottom: 90px;
    height: 2px;
    width: 85%;
    background: #0a2458;
}

#colTitles h1 {
    position: absolute;
    width: 54rem;
    margin-top: 6rem;
    font-size: 70px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#coloniesWrapper2 {
    position: absolute;
    font-family: "Mercury Display Semibold";
    margin-left: 30px;
    margin-top: 3px; 
}

#coloniesWrapper2 h1 {
    font-size: 2.6rem;
    letter-spacing: .019rem;
    position: relative;
    width: 68rem;
    color: #0a2458;
}

#coloniesWrapper2 img {
    position: absolute;
    margin-top: 10px;
    max-width: 340px;
    max-height: 210px;
    border-radius: 5px;
}

#coloniesWrapper2 p {
    letter-spacing: 0.1rem;
    /* width: 750px; */
    margin-top: 20px;
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 370px;
    text-align: left;
    position: absolute;
}

#rand-colony .redwords {
    color: rgb(178, 34, 52);
}

#presTitles {
    position: absolute;
    margin-left: 72rem;
    z-index: -1;
    margin-top: 28.5rem;
}

#presTitles h2 {
    position: absolute;
    width: 30rem;
    margin-top: 2rem;
    font-size: 38px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#presTitles h1::before {
    content: "";
    display: flex;
    position: absolute;
    bottom: 90px;
    height: 2px;
    width: 92.5%;
    background: #0a2458;
}

#presTitles h1 {
    position: absolute;
    width: 33rem;
    margin-top: 6rem;
    font-size: 70px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#presWrapper {
    background-color: rgb(255, 239, 209);
    height: 303px;
    top: 399px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#presWrapper2 {
    position: absolute;
    font-family: "Mercury Display Semibold";
    margin-top: 3px;
    margin-left: 30px;
}

#presWrapper2 h1 {
    font-size: 2.6rem;
    letter-spacing: .019rem;
    position: relative;
    width: 850px;
    color: #0a2458;
}

#presWrapper2 img {
    position: absolute;
    /* max-width: 215px; */
    max-height: 230px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
}

#presWrapper2 p {
    letter-spacing: 0.2rem;
    width: 750px;
    margin-top: 20px;
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 265px;
    text-align: left;
    position: absolute;
}

#presWrapper2 .redwords {
    color: rgb(178, 34, 52);
}

#monTitles {
    position: absolute;
    margin-left: 1rem;
    z-index: -1;
    margin-top: 28.5rem;
}

#monTitles h2 {
    position: absolute;
    width: 30rem;
    margin-top: 2rem;
    font-size: 38px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#monTitles h1::before {
    content: "";
    display: flex;
    position: absolute;
    bottom: 90px;
    height: 2px;
    width: 87.8%;
    background: #0a2458;
}

#monTitles h1 {
    position: absolute;
    width: 54rem;
    margin-top: 6rem;
    font-size: 70px;
    letter-spacing: 0.2rem;
    color: rgb(178, 34, 52);
}

#monWrapper {
    float: right;
    margin-left: auto;
    background-color: rgb(255, 239, 209);
    height: 303px;
    top: 411px;
    width: 70rem;
    box-sizing: content-box;
    flex-wrap: wrap;
    position: relative;
}

#monWrapper2 {
    position: absolute;
    font-family: "Mercury Display Semibold";
    margin-top: 3px;
    margin-left: 30px;
}

#monWrapper2 h1 {
    font-size: 2.6rem;
    letter-spacing: .019rem;
    position: relative;
    width: 1000px;
    color: #0a2458;
}

#monWrapper2 img {
    position: absolute;
    margin-top: 10px;
    max-width: 350px;
    max-height: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
}

#monWrapper2 p {
    letter-spacing: 0.1rem;
    width: 710px;
    margin-top: 45px;
    line-height: 45px;
    font-size: 1.8rem;
    margin-left: 380px;
    text-align: left;
    position: absolute;
}

#monWrapper2 .redwords {
    color: rgb(178, 34, 52);
}